.subview-container {
    display: flex;
    justify-content: end;

    .subview-size {
        display: flex;
        flex-direction: column;
        margin-left: 6px;
        height: fit-content;
        padding: 2px 4px;
        border: 2px dashed #CCC;
        border-radius: 12px;

        .subview-size-label {
            margin-inline-start: 3px;
            font-size: 1.5em;
        }

        input[type="range"] {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            height: 100px;
        }
    }

    .subview {
        display: flex;
        flex-direction: column;
        width: fit-content;
        /*margin: 0 0 0 auto;*/
        border: 3px dotted #DDD;
        border-radius: 24px;

        .subview-row {
            display: flex;
            justify-content: center;

            .subview-plane {
                display: flex;
                flex-direction: column;
                width: 60px;
                height: 60px;
                border: 2px solid #888;

                .subview-plane-row {
                    flex: 1;
                    display: flex;

                    .subview-pixel {
                        flex: 1;
                        border: 1px solid #CCC;
                        background-color: #F00;
                        /* もしこの色が表示されたらエラー 使わないpixelの場合は.noneを使うこと */
                    }

                    .subview-pixel.on {
                        background-color: #FF0;
                    }

                    .subview-pixel.off {
                        background-color: #EEE;
                    }

                    .subview-pixel.none {
                        background: #666;
                    }
                }
            }

            .subview-centroid {
                width: 60px;
                height: 60px;
            }
        }
    }
}